<!DOCTYPE html>
<html lang="ja"><!-- InstanceBegin template="/Templates/analytics.tmpl" -->
    <head>
        <meta charset="UTF-8">
        <!-- InstanceBeginEditable name="doc_info" -->
        <meta property="og:type" content="">
        <meta property="og:site_name" content="">
        <meta property="fb:admins" content="">
        <meta name="twitter:card" content="">
        <meta name="twitter:site" content="">
        <!-- TemplateBeginEditable name="doc_info" -->
        <title>Document</title>
        <meta property="og:title" content="">
        <meta name="description" content="">
        <meta property="og:description" content="">
        <meta name="keywords" content="">
        <meta property="og:image" content="">
        <meta property="og:url" content="">
        <link rel="canonical" href="">
        <!-- TemplateEndEditable -->
        <!-- InstanceEndEditable -->
        <!-- InstanceBeginEditable name="head" -->
        <link rel="stylesheet" href="../htdocs/resources/dummy.css">
        <!-- InstanceEndEditable -->
    </head>
    <body>
        <!-- InstanceBeginEditable name="body" -->
        <header>
            common header ノン・アスキー文字<br>
            <img src="../htdocs/resources/dummy.gif" height="160" width="320" alt="dummy"><br>
            <a href="../htdocs/index.html">HOME</a>
        </header>
        <main>
            <!-- TemplateBeginEditable name="main" --><!-- TemplateEndEditable -->
        </main>
        <aside>
            <!-- TemplateBeginEditable name="aside" -->
            <a href="../htdocs/index.html">HOME</a>
            <!-- TemplateEndEditable -->
        </aside>
        <footer>common footer copyright&copy;</footer>
        <script src="../htdocs/resources/dummy.js"></script>
        <!-- InstanceEndEditable -->
    </body>
<!-- InstanceEnd --></html>